.itt_tabs {
  display: inline-flex;

  .itt_tab {
    a {
      color: #fff;
    }

    a:hover {
      color: #fff;
      background-color: $primary-color;
    }

    &.active {

      a {
        color: $primary-color;
        background-color: #fff;
      }
    }
  }
}

.itt_tab-panel {
  display: none;
}