.itt_top-card {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);

  .itt_circle-list {
    text-align: left;
    list-style-type: disc;
    padding-left: 20px;

    li {
      margin: 15px 0;
    }
  }
}