$base-duration: 0.4s !default;
$base-origin: top center !default;
$base-degrees: 20deg !default;
$base-fill-mode: both !default;
$base-iteration-count: infinite !default;

$base-timing-function-in: ease-in !default;
$base-timing-function-out: ease-out !default;
$base-timing-function-in-out: ease-in-out !default;

$base-distance: 10px !default;
$base-distance-big: 1000px !default;

// Rotate module settings
$rotate-degrees: 90deg !default;
$rotate-degrees-max: 200deg !default;
$rotate-origin: center center !default;

// Flipper module settings
$flipper-perspective: 400px !default;
$flipper-translate: 150px !default;
$flipper-degrees: 10deg !default;
$flipper-degrees-max: 90deg !default;

// Hinge module settings
$hinge-origin: top left !default;
$hinge-degrees-max: 80deg !default;
$hinge-translate: 700px !default;

$use-fadeIn: true !default;
$use-fadeInUp: false !default;
$use-fadeInUpBig: false !default;
$use-fadeInDown: false !default;
$use-fadeInDownBig: false !default;
$use-fadeInLeft: false !default;
$use-fadeInLeftBig: false !default;
$use-fadeInRight: false !default;
$use-fadeInRightBig: false !default;

$use-fadeOut: false !default;
$use-fadeOutUp: false !default;
$use-fadeOutUpBig: false !default;
$use-fadeOutDown: false !default;
$use-fadeOutDownBig: false !default;
$use-fadeOutLeft: false !default;
$use-fadeOutLeftBig: false !default;
$use-fadeOutRight: false !default;
$use-fadeOutRightBig: false !default;

$use-bounceIn: false !default;
$use-bounceInUp: false !default;
$use-bounceInDown: false !default;
$use-bounceInLeft: true !default;
$use-bounceInRight: true !default;

$use-bounceOut: false !default;
$use-bounceOutUp: false !default;
$use-bounceOutDown: false !default;
$use-bounceOutLeft: false !default;
$use-bounceOutRight: false !default;

$use-rotateIn: true !default;
$use-rotateInUpLeft: false !default;
$use-rotateInUpRight: false !default;
$use-rotateInDownLeft: false !default;
$use-rotateInDownRight: false !default;

$use-rotateOut: false !default;
$use-rotateOutUpLeft: false !default;
$use-rotateOutUpRight: false !default;
$use-rotateOutDownLeft: false !default;
$use-rotateOutDownRight: false !default;

$use-slideIn: false !default;
$use-slideInUp: false !default;
$use-slideInDown: false !default;
$use-slideInLeft: false !default;
$use-slideInRight: false !default;

$use-slideOut: false !default;
$use-slideOutUp: false !default;
$use-slideOutDown: false !default;
$use-slideOutLeft: false !default;
$use-slideOutRight: false !default;

$use-flip: false !default;
$use-flipInX: false !default;
$use-flipInY: false !default;
$use-flipOutX: false !default;
$use-flipOutY: false !default;

$use-lightSpeedIn: false !default;
$use-lightSpeedOut: false !default;

$use-bounce: false !default;
$use-flash: false !default;
$use-pulse: false !default;
$use-wiggle: false !default;
$use-swing: false !default;
$use-shake: false !default;
$use-tada: false !default;
$use-wobble: false !default;

$use-hinge: false !default;
$use-rollIn: false !default;
$use-rollOut: false !default;

$use-zoomIn: false !default;
$use-zoomInDown: false !default;
$use-zoomInLeft: false !default;
$use-zoomInRight: false !default;
$use-zoomInUp: false !default;

$use-zoomOut: false !default;
$use-zoomOutDown: false !default;
$use-zoomOutLeft: false !default;
$use-zoomOutRight: false !default;
$use-zoomOutUp: false !default;
