@font-face {
  font-family: Segor-ui;
  src: url(../font/segorui/segoeui.ttf);
}


body {
  font-family: "Segor-ui", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, li, a, span, div {
  -webkit-font-smoothing: antialiased;
  color: $cat_title_color;
  margin: 0;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}