// Colors
$orange: #FF9600;
$green: #AECC00;
$yellow: #FECF2A;
$violet: #411867;
$light_grey: #f7f7f7;
$grey: #F4F4F4;
$dark_grey: #b9babd;
$mega_yellow: #fcff00;
$cyan: #5cb9bc;
$blue: #2196f3;
// ----------------------


// Theme colors
$primary-color: $blue;
$secondary-color: $mega_yellow;

// Navigation color
$nav_bg_color: $primary-color;
$nav_bg_color_2: $primary-color;
$nav_link_color: #fff;
$nav_link_color_hover: #fff;
$nav_link_color_hover_mobile: #fff;
$nav_link_bg_hover: transparent;
$search_link_color: #fff;
$search_link_color_hover: $primary-color;


// Arrow to top
$arrow_color: #fff;
$arrow_bg: $primary-color;

// Btns
$btn_default: #fff;
$btn_default_bg: #fff;

$btn_primary: #fff;
$btn_primary_bg: $primary-color;

$btn_hover: $primary-color;

$btn_amazon_bg: #FF7202;
$btn_product_bg: $primary-color;

// Link
$link_hover: $primary-color;

// Footer BG
$footer_top_bg: #3c414c;
$footer_bot_bg: #293c49;


// Titles color
$cat_title_color: #5a5a5a;

// Post description color
$post_desc_color: #8d9091;
$short_desc_color: #fff;
$short_desc_bg: transparent;

// Border
$border_color: #e0e0e0;

// Breadcrumb
$breadcrumb-color: #000;
$breadcrumb-bg: $primary-color;

// Forms
$input_bg: #fff;
$textarea_bg: #fff;
$search_field_focus: transparent;

// Status color
$success: #27BA6C;
$info: #03a9f4;
$warning: #FF8833;
$danger: #ff1a1a;