@import "../../app/style/variables";

// ---===  Header Section ===---
.itt_head {
  height: 60px;
}

.itt_header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: $nav_bg_color;
}

.itt_header-opacity {
  transition: all 0.5s ease-in-out;
}

// Navigation
.itt_nav-list {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  height: 100%;
}

.itt_logo img {
  height: 30px;
}

.itt_logo-wrap {
  align-items: center;
  justify-content: center;
}

.itt_stick-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 16px;
  width: 50%;
  display: none;

  .itt_stick {
    border-right: 3px solid $secondary-color;
  }
}

//Sandwich
.itt_sw-topper {
  width: 30px;
  height: 3px;
  background: $nav_link_color;
  border: none;
  border-radius: 4px;
  transition: transform 0.5s, top 0.2s;
}

.itt_sw-bottom {
  width: 30px;
  height: 3px;
  margin-top: 6px;
  background: $nav_link_color;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s;
}

.sandwich-animate-top {
  transform: rotate(140deg);
}

.sandwich-animate-bottom {
  margin-top: -2px;
  transform: rotate(-140deg);
}

// Search form
.itt_search-wrap {


  .itt_search-form {
    position: relative;
    width: 100%;
  }

  .itt_search-field {
    padding: 7px;
    margin: 10px 0;
    font-size: 14px;
    background-color: transparent;
  }

  .itt_search-button {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: none;
    border: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $search_link_color_hover;
    }

    .fa-search {
      font-size: 14px;
    }
  }

}


.itt_search-desktop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(255,255,255,0.95);
  display: none;
}

form.itt_search-form-desktop {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

input.itt_search-field-desktop {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid $primary-color;
  font-size: 60px;
  color: $primary-color;
}

// ---=== Media Queries ===---
@media screen and (min-width: 1200px) {
  .itt_search-field {
    width: 0;
    border: none;
    visibility: hidden;
  }

  .itt_head {
    .itt_navigation {
      display: block !important;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .itt_search-field {
    width: 0;
    border: none;
    visibility: hidden;
  }

  .itt_head {
    .itt_navigation {
      display: block !important;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .itt_search-field {
    width: 0;
    border: none;
    visibility: hidden;
  }

  .itt_head {
    .itt_navigation {
      display: block !important;
    }
  }
}

@media screen and (max-width: 767px) {
  .itt_nav-list {
    display: block;
    padding: 0;
    margin: 0;

    a.itt_link {
      display: block;
      text-align: center;
    }
  }

  .itt_nav-item {
    .itt_link {
      &.active {
        background-color: $nav_link_color_hover_mobile;
      }

      &:hover {
        background-color: $nav_link_color_hover_mobile;
      }
    }
  }

  .itt_navigation {
    position: absolute;
    width: 100%;
    top: 125px;
    left: 0;
    align-items: center;
    padding: 0;
    background: $nav_bg_color;
    z-index: 9999;
  }

  .itt_search-wrap {
    margin-top: 10px;
  }

  .itt_search-field {
    border: 1px solid $border_color;
    width: 100%;

    &:focus {
      border: 1px solid $secondary-color;
      box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease-in-out;
      background-color: $search_field_focus;
    }
  }

  .itt_head {
    padding-top: 15px;
    margin: 0 !important;
    height: 125px;
  }

  .itt_sandwich {
    padding-right: 10px;
    height: 23px;
    margin-top: 15px;
  }

  .itt_logo img {
    height: 40px;
  }
}



